@charset "utf-8";

/* -------------------------------------------------------------- */
/* hero
/* -------------------------------------------------------------- */
.s-hero {
  padding: 0 vmin-calc(15px);
  padding-top: vmin-calc(100px);
  padding-bottom: vmin-calc(108px);
  &__title {
    margin-bottom: 36px;
    img {
      width: vmin-calc(180px);
      height: auto;
    }
  }
  &__list {
    padding-left: 0;
    margin: 0;
    display: flex;
    li {
      &:first-child {
        margin-right: 10px;
      }
    }
  }
}
