@charset "utf-8";

/* -------------------------------------------------------------- */
/* list repos
/* -------------------------------------------------------------- */
.s-repos {
  padding: 0 15px;
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    counter-reset: number;
  }
  &__item {
    position: relative;
    width: vmin-calc(165px);
    height: vmin-calc(267px);
    background-color: rgba(255,255,255,.8);
    margin-bottom: 30px;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    &:before {
      position: absolute;
      top: -17px;
      left: 8px;
      counter-increment: number;
      content: "#0" counter(number);
      font-family: $fontCount;
      color: lighten($colorGold, 10%);
      font-size: 24px;
    }
  }
  &__thumb {
    padding: 36px 0 38px 0;
    img {
      display: block;
      max-width: vmin-calc(87px);
      margin: 0 auto;
    }
  }
  &__content {
    padding: 0 10px 22px 10px;
  }
  &__name {
    font-weight: 600;
    letter-spacing: 0.67px;
    line-height: 12px;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 10px;
  }
  &__description,
  &__date {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 10px;
    line-height: 10px;
  }
  &__date {
    margin-bottom: 0;
  }
}
