@charset "utf-8";

/* -------------------------------------------------------------- */
/* list repos
/* -------------------------------------------------------------- */
.s-repos {
  @media #{$small-only} {
    padding: 0 vmin-calc(15px);
  }
  @media #{$medium-up} {
    width: 100%;
    max-width: $contentWidth;
    margin: 0 auto;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    counter-reset: number;
  }
  &__item {
    position: relative;
    width: vmin-calc(165px);
    min-height: vmin-calc(267px);
    background-color: rgba(255,255,255,.5);
    margin-bottom: 30px;
    box-shadow: $boxShadow;
    @media #{$medium-up} {
      width: 280px;
      min-height: 453px;
      margin-bottom: 40px;
    }
    &:before {
      position: absolute;
      top: -24px;
      left: 8px;
      counter-increment: number;
      content: "#0" counter(number);
      font-family: $fontCount;
      color: $colorGold;
      font-size: 24px;
      @media #{$medium-up} {
        font-size: 40px;
      }
    }
  }
  &__thumb {
    padding: 36px 0 38px 0;
    @media #{$medium-up} {
      padding: 50px 0;
    }
    img {
      display: block;
      max-width: vmin-calc(87px);
      margin: 0 auto;
      @media #{$medium-up} {
        max-width: 180px;
      }
    }
  }
  &__content {
    padding: 0 10px 22px 10px;
    @media #{$medium-up} {
      padding: 0 20px 22px 20px;
    }
  }
  &__name {
    font-weight: 600;
    letter-spacing: 0.67px;
    line-height: 12px;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 10px;
    @media #{$medium-up} {
      margin-bottom: 14px;
      font-size: 18px;
    }
  }
  &__description,
  &__date {
    margin-top: 0;
    margin-bottom: 6px;
    font-size: 10px;
    line-height: 10px;
    @media #{$medium-up} {
      font-size: 11px;
    }
  }
  &__date {
    margin-bottom: 0;
  }
}
