@charset "utf-8";

/* -------------------------------------------------------------- */
/* repos
/* -------------------------------------------------------------- */
.s-repos {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 0;
    counter-reset: number;
  }
  &__item {
    width: 48%;
    margin-bottom: vmin-calc(30px);
    @media #{$large-up} {
      width: 32%;
      margin-bottom: 40px;
    }
  }
}

.s-repo {
  position: relative;
  background-color: rgba(255,255,255,.5);
  box-shadow: $boxShadow;
  height: vmin-calc(267px);
  @media #{$large-up} {
    height: 453px;
  }
  &:before {
    position: absolute;
    top: vmin-calc(-18px);
    left: vmin-calc(8px);
    z-index: 10;
    counter-increment: number;
    content: "#0" counter(number);
    font-family: $fontCount;
    color: $colorGold;
    font-size: vmin-calc(24px);
    @media #{$large-up} {
      font-size: 40px;
      top: -24px;
    }
  }
  a {
    &:before {
      content: "";
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: rgba(11,52,110,.2); // same as $colorDeepBlue opacity 20%
      transition: all ease .3s;
    }
    &:hover {
      &:before {
        opacity: 1;
      }
      .s-repo__overlay {
        display: block;
      }
    }
  }
  &__thumb {
    padding: vmin-calc(36px) 0 vmin-calc(38px) 0;
    @media #{$large-up} {
      padding: 50px 0;
    }
    img {
      display: block;
      max-width: vmin-calc(87px);
      margin: 0 auto;
      @media #{$large-up} {
        max-width: 180px;
      }
    }
  }
  &__content {
    padding: 0 vmin-calc(10px) vmin-calc(22px) vmin-calc(10px);
    @media #{$large-up} {
      padding: 0 20px 22px 20px;
    }
  }
  &__name {
    font-weight: 600;
    letter-spacing: 0.67px;
    line-height: 1.1;
    font-size: vmin-calc(12px);
    margin-top: 0;
    margin-bottom: vmin-calc(8px);
    @media #{$large-up} {
      margin-bottom: 14px;
      font-size: 18px;
    }
  }
  &__description,
  &__date {
    margin-top: 0;
    margin-bottom: 4px;
    font-size: vmin-calc(10px);
    line-height: 1;
    @media #{$large-up} {
      margin-bottom: 6px;
      font-size: 11px;
    }
  }
  &__date {
    margin-bottom: 0;
  }
  &__overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
  &__text {
    color: #fff;
    margin: 0;
    &--ja {
      float: right;
      padding-top: vmin-calc(15px);
      padding-right: vmin-calc(5px);
      font-family: serif;
      font-size: vmin-calc(12px);
      letter-spacing: 1px;
      writing-mode: vertical-rl;
      @media #{$large-up} {
        padding-top: 20px;
        padding-right: 10px;
        font-size: 16px;
      }
    }
    &--en {
      position: absolute;
      bottom: vmin-calc(6px);
      left: vmin-calc(10px);
      font-size: vmin-calc(10px);
      letter-spacing: 1px;
      @media #{$large-up} {
        font-size: 14px;
        left: 20px;
        bottom: 14px;
      }
    }
  }

}
