@charset "utf-8";

/* -------------------------------------------------------------- */
/* hero
/* -------------------------------------------------------------- */
.s-site-brand {
  padding-top: vmin-calc(100px);
  padding-bottom: vmin-calc(80px);
  @media #{$medium-up} {
    padding: 0;
    padding-top: 128px;
    padding-bottom: 146px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: 36px;
    line-height: 1;
    @media #{$medium-up} {
      margin-bottom: 0;
    }
    svg {
      width: vmin-calc(180px);
      height: auto;
      @media #{$medium-up} {
        width: 300px;
      }
    }
  }
}
