@charset "utf-8";

/* -------------------------------------------------------------- */
/* layout
/* -------------------------------------------------------------- */
.l-container {
  position: relative;
  background-image: url($filePath + 'bg_wapuu.png');
  background-size: vmin-calc(350px) auto;
  background-position: 98px 20px;
  background-repeat: no-repeat;
}
