@charset "utf-8";

/* -------------------------------------------------------------- */
/* navigation
/* -------------------------------------------------------------- */
.l-nav {
  display: none;
  width: 100%;
  background-color: #fff;
  box-shadow: $boxShadow;
  z-index: 100;
  @media #{$small-only} {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
  }
  @media #{$large-up} {
    position: absolute;
    width: 260px;
    top: 60px;
    right: 0;
    li {
      &:last-child {
        border-bottom: none;
      }
    }
  }
  &__title {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
  }

  &__list {
    margin: 0;
    padding-left: 0;
    padding-bottom: 80px;
    z-index: 100;
    @media #{$large-up} {
      padding-bottom: 0;
    }
    li {
      border-bottom: 1px dashed $colorGrayLight;
      a {
        display: block;
        height: $menuItemHeight;
        padding: 18px 15px;
        color: $colorBlack;
        letter-spacing: 2px;
        line-height: 1;
        font-size: 14px;
      }
    }
  }
}
