@charset "utf-8";

//----------------------------------------------------------------------------
// Color
//----------------------------------------------------------------------------
$colorBlue          : #334f7a;
$colorDeepBlue      : #0b346e;
$colorGold          : #aa7a40;
$colorBlack         : #000;
$colorGray          : #555;
$colorGrayLight     : #ccc;

$colorBg            : #f0f1f2;
$colorText          : $colorGray;
$colorLink          : $colorBlue;
$colorLinkHover     : lighten($colorLink, 15%);
$colorSelection     : lighten($colorLink, 20%);

//----------------------------------------------------------------------------
// Path
//----------------------------------------------------------------------------
$filePath           : '/docs/images/';

//----------------------------------------------------------------------------
// Typography
//----------------------------------------------------------------------------
// Primary
$fontFamily         : 'Avenir Next', 'Avenir', 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック','MS PGothic',Arial,Sans-Serif;
// En
$fontEn             : 'Avenir Next', 'Avenir',Sans-Serif;
// Page title
$fontTitle          : 'Cormorant Garamond', serif;
// Count
$fontCount          : 'Caveat', cursive;
// Code
$fontFamilyCode     : Menlo,Consolas,Courier,sans-serif;

//----------------------------------------------------------------------------
// Block size
//----------------------------------------------------------------------------
$contentWidth       : 880px;
$maxWidth           : 1280px;
// Ccaluclate vmin to px
// @see _functions.scss
$base-v-size        : 375px;

//----------------------------------------------------------------------------
// Navigation size
//----------------------------------------------------------------------------
$menuItemHeight    : 50px;
