header.l-header
  p THIS IS JUST ANOTHER GITHUB REPOSITORY LIST OF THE ORGANIZATION
  a(href='', title='MENU')
    span
  ul
    li
      a(href='/about.html') ABOUT
    li
      a(href='https://github.com/wct2015/design-archives') VIEW ON GITHUB
