header.l-header
  p.l-header__description THIS IS JUST ANOTHER GITHUB REPOSITORY LIST OF THE ORGANIZATION
  nav.l-nav
    button.l-nav__toggle(type='button')
      span.l-nav__icon
    ul.l-nav__list
      li
        a(href='/about.html') ABOUT
      li
        a(href='https://github.com/wct2015/design-archives') VIEW ON GITHUB
