header.l-header
  p.l-header__description THIS IS JUST ANOTHER GITHUB REPOSITORY LIST OF THE ORGANIZATION
  a.m-menu-toggle(href='', title='Menu')
    span.m-menu-toggle__icon
      img(src='/docs/images/icon_menu.svg')
  nav.l-nav
    ul.l-nav__list
      li
        a(href='/about.html') ABOUT
      li
        a(href='https://github.com/wct2015/design-archives') VIEW ON GITHUB
